<h1>{{model.login}}</h1>

{{#each model.repos as |repo|}}
  <div class="repo">
    <h5>{{repo.name}}</h5>
    <p>
      {{#if repo.description}}
        {{repo.description}}
      {{else}}
        No description available.
      {{/if}}
    </p>
  </div>
{{/each}}

{{outlet}}
{{log model}}
