<div class="container">
  <h2 id="title">My Blog</h2>

  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills">
        <li role="presentation">
          {{#link-to 'index'}}
            Home
          {{/link-to}}
        </li>
        <li role="presentation">
          {{#link-to 'faq'}}
            FAQ
          {{/link-to}}
        </li>
        <li role="presentation">
          {{#link-to 'users'}}
            Users
          {{/link-to}}
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    {{outlet}}
  </div>
</div>
