<div class="col-md-2">
  {{#each model as |user|}}
    <div class="user">
      <h4>
        {{#link-to 'users.user' user.login}}
          <img src="{{user.avatar_url}}">
          {{user.login}}
        {{/link-to}}
      </h4>
    </div>
  {{/each}}
</div>

{{outlet}}
